<h3>LeftNav</h3>

<ul>
    <li>
        <NavLink href="" Match="NavLinkMatch.All">Home</NavLink>
    </li>
    <li>
        <NavLink href="/new-bug">New Bug</NavLink>
        <NavLink href="/list-bugs">View Bugs</NavLink>
    </li>
</ul>

@code {

}